@font-face {
    font-family: 'SFFamilyDisplay';
    src: url('../assets/fonts/SFPRODISPLAYREGULAR.OTF');
    font-weight: 400;
}

@font-face {
    font-family: 'SFFamilyDisplay';
    src: url('../assets/fonts/SFPRODISPLAYREGULAR.OTF');
    font-weight: 600;
}

$font-stack: 'SFFamilyDisplay';