@use "../../App.scss" as *;
@use "../../partials/_colors.scss" as *;
@use "../../partials/_fonts.scss" as *;
@use "../../partials/_variables.scss" as *;
@use "../../partials/_mixins.scss" as *;
@use "../../partials/_function.scss" as *;

.market {
  width: 90%;
}

.market-container {
  display: flex;
  align-content: center;
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
  position: relative;
  margin-top: 15%;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 5px 5px #888888;
  padding: 2rem;
  padding-bottom: 0;
  justify-content: center;
  cursor: pointer;
}
